
<% if (error_messages && error_messages.length > 0) { %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <%= error_messages %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% } %>

<% if (success_messages && success_messages.length > 0) { %>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <%= success_messages %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% } %>


