<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Physical Fit</title>
  <link href="/CSS/dailyList.css" rel="stylesheet">
  <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js'></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>
<body class="d-flex flex-column min-vh-100 bg-light">
<%- include('./partials/header') %>
  <main class="flex-shrink-0 py-3" role="main">
    <div class="album container pt-4">
      <div class="pt-5">
        <div class="frame">
            <div class="type">
              <a class="exercises" href="/exercises">動作</a>
              <a class="lists" href="/exerciselists">菜單</a>
              <a class="dailyList" href="/dailyList">日程</a>
            </div>
          <div class="dailyListFrame">
            <div class="m-3" id='calendar'></div>
          </div>
        </div>
      </div>
    </div>
  </main>
<%- include('./partials/footer') %>
<%- include('./partials/dateListModal') %>
<%- include('./partials/warningModal') %>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  <script src="/JS/dailyList.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
</body>
</html>