.frame {
  width: 100%;
  margin: auto;
  box-shadow: 10px 10px 20px #9f6a47;
  border-radius: 15px;
}

.type {
  width: 100%;
  height: 60px;
  margin: auto;
  display: flex;
  justify-content: center;
  background: #ede0d4;
  border-bottom: 1px solid #e0bfa0;
  border-radius: 15px 15px 0px 0px;
}

.exercisesFrame {
  width: 100%;
  height: 655px;
  margin: auto;
  background-color: #ede0d4;
  border-radius: 0px 0px 15px 15px;
  display: flex;
}

.exercises,
.lists,
.dailyList {
  width: 155px;
  height: 60px;
  font-size: 18px;
  text-align: center;
  line-height: 60px;
  user-select: none;
}

.lists {
  color: #922c21;
  border-bottom: 2px solid #7f5539;
  box-sizing: border-box;
}

.exercises,
.dailyList {
  color: #bf9d7e;
  box-sizing: border-box;
}

.exercises:hover,
.lists:hover,
.dailyList:hover {
  background-color: antiquewhite;
  color: #9f6a47;
  font-weight: 700;
  cursor: pointer;
}

.list {
  width: 20%;
  background-color: #ede0d4;
  position: relative;
}

.listContent {
  width: 100%;
  height: auto;
  background-color: #ede0d4;
  border-radius: 5px;
  box-shadow: 10px 10px 20px #9f6a47;
  overflow-y: scroll;
}

/* postFrame scrollbar style */
.listContent::-webkit-scrollbar {
  width: 6px;
}

.listContent::-webkit-scrollbar-thumb {
  background-color: #f0d4bc;
  border: 1px solid #922c21;
  border-radius: 15px;
}

.listContent::-webkit-scrollbar-track-piece:end {
  margin-bottom: 3px;
}

.listContent .row {
  margin: 10px;
}

.card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* 修改卡片标题样式 */
.card-title {
  font-size: 1.25rem;
  color: #333;
  font-weight: bold;
}

/* 修改卡片正文样式 */
.card-text {
  color: #1d7398;
}